/* Desenvolva sua estilização aqui...*/
main {
    display: flex;
    flex-direction: row;
}

.section-left {
    width: 45%;
    height: 100vh;
    background: var(--color-brand-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-left {
    margin: 283px 122px 371px;
}

.section-right {
    width: 55%;
    height: 100vh;
    background: var(--color-grey-2);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section-title {

    width: 162px;
    height: 48px;
    margin-bottom: 37px;




    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */


    color: #FFFFFF;
}

.section-subtitle {

    width: 431px;
    height: 60px;
    margin-bottom: 55px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */


    color: #FFFFFF;

}

.text-find {

    width: 188px;
    height: 24px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */


    color: #FFFFFF;

}

.text-search {

    width: 231px;
    height: 30px;
    margin-bottom: 45px;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 30px */


    color: #FFFFFF;

}

.label-user {

    width: 99px;
    height: 21px;
    margin-bottom: 1rem;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    color: #FFFFFF;

}

.user-input {
    padding: 16px;
    width: 316px;
    height: 38px;
    color: #FFFFFF;

    background: #191C1F;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 4px;
    margin-bottom: 20px;
}

#user-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
   
    gap: 10px;
    position: relative;
    cursor: pointer;


    width: 316px;
    height: 38px;


   
    border-radius: 4px;
    margin-bottom: 85px;
}
button{
    background: rgba(214, 51, 108, 0.4);
    pointer-events: none;
}

.btn-pointer{
    pointer-events: all;
    border:1px solid #FFFFFF;
}
.button-text {
    width: 150px;
    height: 21px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    pointer-events: none;

    color: rgba(255, 255, 255, 0.35);
    transition: all 0.2s;


}
.button-loading .button-text{
    visibility: hidden;
    opacity: 0;

}

.button-loading::after{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid transparent;
    border-top-color: #FFFFFF;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;

}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

.result {
    display: none;
}

.show-result {
    display: flex;
    color: var(--color-brand-1);
    font-weight: 400;
    margin-bottom: 10px;
}

.container-right {
    display: flex;
    flex-direction: column;
    margin-left: 189px;
}

form {
    display: flex;
    flex-direction: column;
    
}

.div-founds {
    display: flex;
    align-items: center;
}

.found-users {
    display: flex;
    flex-direction: row;
    gap: 11px;

}

.found-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100px;
    justify-content: center;
}

.found-img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background: #D9D9D9;
    border: 1px solid #FFFFFF;


}

.found-btn {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 4px;
    gap: 10px;
    cursor: pointer;


    width: 124px;
    height: 26px;


    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.found-btn-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 4px;
    gap: 10px;
    position: absolute;
    top: 65px;
    left: -38px;
    pointer-events: all;


    width: 124px;
    height: 26px;


    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}